


.background-image{
    background-image: url('image/assessor-main.webp');
    width: 100%;
    height: 663px;
    background-size:cover;
    
}


body{
    margin: 0px;
}
.cal{
    
   margin-top: -400px;
   margin-left: 500px;
   
   
}

button{
    margin-left: 150px;
    margin-top: 20px;
    background-color: aqua;
} 
p{
    margin-left: 500px;
    font-size: 40px;
    color: rgb(246, 6, 62);
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:rgb(246, 6, 6);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    background-color: rgb(227, 238, 11);
    height: 20px;
    font-size: 20px;
    
}
input:hover{
    background-color: rgb(251, 56, 35);
}

.calci{
    margin: 0 auto;
}
@media (max-width: 768px) {
    .cal {
      width: 100%;
      margin-top: -500px;
      margin-left: 80px;
    }
    .calci{
        width: 100%;
        height:100px ;
    
    }
    .background-image{
        width: 600px;
        height: 700px;
    }
    p{
        
        margin-left: 150px;
        font-size: 30px;
    }
       
  }
